@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --very-dark-blue-bg: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--very-dark-blue-bg);
  background-image: url('/public/assets/bg-stars.svg');
  background-repeat: repeat;
  background-size: cover;
  color: var(--white);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
  overflow-x: hidden;
}
